@model IEnumerable<WebApplication1.Student>

<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h3>Студенты</h3>

<table style="width: 100%;">
    <tr>
        <th>Студент</th>
        <th>Дата рождения</th>
        <th>Дата поступления</th>
        <th>Возраст</th>
        <th>Факультет</th>
        <th>Индекс группы</th>
        <th>Специальность</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@($"{s.Lastname} {s.Name} {s.Patronym}")</td>
            <td>@($"{s.Birthday}")</td>
            <td>@($"{s.Date}")</td>
            <td>@($"{s.Age(s)}")</td>
            <td>@($"{s.Faculty}")</td>
            <td>@($"{s.Index}")</td>
            <td>@($"{s.Specialty}")</td>
        </tr>
    }
</table>